$icomoon-font-family: "slds" !default;
$icomoon-font-path: "fonts" !default;

$icon-cabinet: "\e911";
$icon-calendar1: "\e912";
$icon-monitor: "\e913";
$icon-suitcase: "\e900";
$icon-sitemap1: "\e914";
$icon-sitemap2: "\e915";
$icon-cloud3: "\e916";
$icon-upload1: "\e917";
$icon-chart: "\e918";
$icon-chart1: "\e919";
$icon-chart2: "\e91a";
$icon-chart3: "\e91b";
$icon-chart4: "\e91c";
$icon-chart5: "\e91d";
$icon-alarm: "\e91e";
$icon-alarm-cancel: "\e91f";
$icon-phone1: "\e901";
$icon-phone2: "\e920";
$icon-open: "\e921";
$icon-sale: "\e903";
$icon-map1: "\e904";
$icon-graduate: "\e922";
$icon-tie: "\e923";
$icon-mouse: "\e924";
$icon-archive: "\e905";
$icon-box1: "\e906";
$icon-bag: "\e925";
$icon-moneybag: "\e907";
$icon-list1: "\e908";
$icon-layout: "\e926";
$icon-layout1: "\e927";
$icon-layout2: "\e928";
$icon-comments1: "\e909";
$icon-equalizer: "\e929";
$icon-calculator: "\e92a";
$icon-library: "\e92b";
$icon-auction: "\e92c";
$icon-justice: "\e92d";
$icon-stats: "\e92e";
$icon-stats1: "\e92f";
$icon-pencil1: "\e90a";
$icon-profile: "\e930";
$icon-profile1: "\e931";
$icon-reply1: "\e932";
$icon-forward1: "\e933";
$icon-shuffle: "\e934";
$icon-dollar1: "\e90b";
$icon-coins: "\e90c";
$icon-addressbook: "\e90d";
$icon-addressbook1: "\e90e";
$icon-safe: "\e90f";
$icon-info1: "\e935";
$icon-book3: "\e910";
$icon-mail-envelope: "\ec6d";
$icon-mail-envelope1: "\ec6e";
$icon-mail-envelope-open: "\ec6f";
$icon-mail-envelope-open1: "\ec70";
$icon-mail-envelope-open2: "\ec71";
$icon-mail-envelope-open3: "\ec72";
$icon-mail-envelope-closed: "\ec73";
$icon-mail-envelope-closed1: "\ec74";
$icon-mail-envelope-open4: "\ec75";
$icon-mail-envelope-open5: "\ec76";
$icon-mail-error: "\ec77";
$icon-mail-error1: "\ec78";
$icon-mail-checked: "\ec79";
$icon-mail-checked1: "\ec7a";
$icon-mail-cancel: "\ec7b";
$icon-mail-cancel1: "\ec7c";
$icon-mail--forbidden: "\ec7d";
$icon-mail--forbidden1: "\ec7e";
$icon-mail-add: "\ec7f";
$icon-mail-add1: "\ec80";
$icon-mail-remove: "\ec81";
$icon-mail-remove1: "\ec82";
$icon-flag1: "\ec83";
$icon-flag2: "\ec84";
$icon-bookmark1: "\ec85";
$icon-bookmark2: "\ec86";
$icon-bookmark-add: "\ec87";
$icon-bookmark-add1: "\ec88";
$icon-bookmark-remove: "\ec89";
$icon-bookmark-remove1: "\ec8a";
$icon-eye-hidden: "\ec8b";
$icon-eye-hidden1: "\ec8c";
$icon-eye1: "\ec8d";
$icon-eye2: "\ec8e";
$icon-star1: "\ec8f";
$icon-star2: "\ec90";
$icon-key2: "\ec91";
$icon-key3: "\ec92";
$icon-trash-can: "\ec93";
$icon-trash-can1: "\ec94";
$icon-book1: "\ec95";
$icon-book2: "\ec96";
$icon-book-bookmark: "\ec97";
$icon-book-bookmark1: "\ec98";
$icon-clipboard-edit: "\ec99";
$icon-clipboard-edit1: "\ec9a";
$icon-clipboard-add: "\ec9b";
$icon-clipboard-add1: "\ec9c";
$icon-clipboard-remove: "\ec9d";
$icon-clipboard-remove1: "\ec9e";
$icon-clipboard: "\ec9f";
$icon-clipboard1: "\eca0";
$icon-clipboard-download: "\eca1";
$icon-clipboard-download1: "\eca2";
$icon-clipboard-upload: "\eca3";
$icon-clipboard-upload1: "\eca4";
$icon-clipboard-checked: "\eca5";
$icon-clipboard-checked1: "\eca6";
$icon-clipboard-text: "\eca7";
$icon-clipboard-text1: "\eca8";
$icon-clipboard-list: "\eca9";
$icon-clipboard-list1: "\ecaa";
$icon-note1: "\ecab";
$icon-note2: "\ecac";
$icon-note-add: "\ecad";
$icon-note-add1: "\ecae";
$icon-note-remove: "\ecaf";
$icon-note-remove1: "\ecb0";
$icon-note-text: "\ecb1";
$icon-note-text1: "\ecb2";
$icon-note-list: "\ecb3";
$icon-note-list1: "\ecb4";
$icon-note-checked: "\ecb5";
$icon-note-checked1: "\ecb6";
$icon-note-important: "\ecb7";
$icon-note-important1: "\ecb8";
$icon-notebook1: "\ecb9";
$icon-notebook2: "\ecba";
$icon-notebook3: "\ecbb";
$icon-notebook4: "\ecbc";
$icon-notebook5: "\ecbd";
$icon-notebook6: "\ecbe";
$icon-notebook7: "\ecbf";
$icon-notebook8: "\ecc0";
$icon-notebook-text: "\ecc1";
$icon-notebook-text1: "\ecc2";
$icon-notebook-list: "\ecc3";
$icon-notebook-list1: "\ecc4";
$icon-document1: "\ecc5";
$icon-document2: "\ecc6";
$icon-document-text: "\ecc7";
$icon-document-text1: "\ecc8";
$icon-document-text2: "\ecc9";
$icon-document-text3: "\ecca";
$icon-document-table1: "\ecd6";
$icon-document-graph: "\ecdd";
$icon-document-graph1: "\ecde";
$icon-document-time: "\ecdf";
$icon-document-time1: "\ece0";
$icon-document-text4: "\ece1";
$icon-document-text5: "\ece2";
$icon-documents: "\ece7";
$icon-documents1: "\ece8";
$icon-documents2: "\ece9";
$icon-documents3: "\ecea";
$icon-lock2: "\ed3b";
$icon-lock3: "\ed3c";
$icon-lock-open3: "\ed3f";
$icon-lock-open4: "\ed40";
$icon-printer: "\ed43";
$icon-printer1: "\ed44";
$icon-document-shred: "\ed45";
$icon-document-shred1: "\ed46";
$icon-cloud-download1: "\ed49";
$icon-cloud-download2: "\ed4a";
$icon-cloud1: "\ed4f";
$icon-cloud2: "\ed50";
$icon-inbox-filled: "\ed51";
$icon-inbox-filled1: "\ed52";
$icon-pen-angled: "\ed55";
$icon-pen-angled1: "\ed56";
$icon-document-edit: "\ed57";
$icon-document-edit1: "\ed58";
$icon-document-certificate: "\ed59";
$icon-document-certificate1: "\ed5a";
$icon-box-filled: "\ed61";
$icon-box-filled1: "\ed62";
$icon-tag-cord: "\ed69";
$icon-tag-cord1: "\ed6a";
$icon-tags1: "\ed6d";
$icon-tags2: "\ed6e";
$icon-tag-add: "\ed6f";
$icon-tag-add1: "\ed70";
$icon-tag-remove: "\ed71";
$icon-tag-remove1: "\ed72";
$icon-tag-checked: "\ed73";
$icon-tag-checked1: "\ed74";
$icon-paperclip1: "\ed77";
$icon-cloud-add: "\ed88";
$icon-cloud-add1: "\ed89";
$icon-cloud-remove: "\ed8a";
$icon-cloud-remove1: "\ed8b";
$icon-cloud-error2: "\ed8c";
$icon-cloud-error3: "\ed8d";
$icon-warning1: "\ed96";
$icon-warning2: "\ed97";
$icon-compass3: "\ed9a";
$icon-compass4: "\ed9b";
$icon-document-file-png: "\eda6";
$icon-document-file-png1: "\eda7";
$icon-document-file-pdf: "\eda8";
$icon-document-file-pdf1: "\eda9";
$icon-document-file-jpg: "\edb0";
$icon-document-file-jpg1: "\edb1";
$icon-document-file-html: "\edb4";
$icon-document-file-html1: "\edb5";
$icon-document-file-bmp: "\edbe";
$icon-document-file-bmp1: "\edbf";
$icon-document-file-eps: "\edc2";
$icon-document-file-eps1: "\edc3";
$icon-document-file-tiff: "\edc4";
$icon-document-file-tiff1: "\edc5";
$icon-document-file-doc: "\edd8";
$icon-document-file-doc1: "\edd9";
$icon-document-file-xls: "\eddc";
$icon-document-file-xls1: "\eddd";
$icon-document-file-docx: "\edde";
$icon-document-file-docx1: "\eddf";
$icon-document-file-xml: "\ede8";
$icon-document-file-xml1: "\ede9";
$icon-document-file-avi: "\edf0";
$icon-document-file-avi1: "\edf1";
$icon-document-file-xlsx: "\edf6";
$icon-document-file-xlsx1: "\edf7";
$icon-document-file-txt: "\edfe";
$icon-document-file-txt1: "\edff";
$icon-document-file-rtf: "\ee00";
$icon-document-file-rtf1: "\ee01";
$icon-document-file-flv: "\ee04";
$icon-document-file-flv1: "\ee05";
$icon-document-file-mpg: "\ee06";
$icon-document-file-mpg1: "\ee07";
$icon-document-file-3gp: "\ee0c";
$icon-document-file-3gp1: "\ee0d";
$icon-document-file-zip: "\ee14";
$icon-document-file-zip1: "\ee15";
$icon-document-file-rar: "\ee1e";
$icon-document-file-rar1: "\ee1f";
$icon-document-file-gif: "\ee20";
$icon-document-file-gif1: "\ee21";
$icon-account: "\ee22";
$icon-activations: "\ee26";
$icon-agent_home: "\ee28";
$icon-agent_session: "\ee29";
$icon-aggregation_policy: "\ee2a";
$icon-avatar_loading: "\ee41";
$icon-case_log_a_call: "\ee5b";
$icon-channel_program_levels: "\ee62";
$icon-custom102: "\ee7c";
$icon-custom103: "\ee7d";
$icon-custom14: "\ee8b";
$icon-custom15: "\ee8c";
$icon-custom16: "\ee8d";
$icon-custom77: "\eed0";
$icon-custom96: "\eee5";
$icon-decision: "\eef9";
$icon-forecasts: "\ef25";
$icon-groups: "\ef2d";
$icon-align-center: "\e902";
$icon-align-justify: "\ea3f";
$icon-align-left: "\ea40";
$icon-align-right: "\eaef";
$icon-android: "\eaf0";
$icon-angle-double-down: "\eb7f";
$icon-angle-double-left: "\eb89";
$icon-angle-double-right: "\eb8a";
$icon-angle-double-up: "\eb8b";
$icon-angle-down: "\eb8c";
$icon-angle-left: "\eb8d";
$icon-angle-right: "\eb8e";
$icon-angle-up: "\eb8f";
$icon-apple: "\eb90";
$icon-arrow-circle-down: "\eb91";
$icon-arrow-circle-left: "\eb92";
$icon-arrow-circle-right: "\eb93";
$icon-arrow-circle-up: "\eb94";
$icon-arrow-down: "\eb95";
$icon-arrow-down-left: "\eb96";
$icon-arrow-down-right: "\eb97";
$icon-arrow-left: "\eb98";
$icon-arrow-right: "\eb99";
$icon-arrows-h: "\eb9a";
$icon-arrows-v: "\eb9b";
$icon-arrow-up: "\eb9c";
$icon-arrow-up-left: "\eb9d";
$icon-arrow-up-right: "\eb9e";
$icon-at: "\eb9f";
$icon-backward: "\eba0";
$icon-ban: "\eba1";
$icon-bars: "\eba2";
$icon-bell: "\eba3";
$icon-bolt: "\eba4";
$icon-book: "\eba5";
$icon-box: "\eba6";
$icon-briefcase: "\eba7";
$icon-building: "\eba8";
$icon-calendar: "\eba9";
$icon-calendar-minus: "\ebaa";
$icon-calendar-plus: "\ebab";
$icon-calendar-times: "\ebac";
$icon-camera: "\ebad";
$icon-car: "\ebae";
$icon-caret-down: "\ebaf";
$icon-caret-left: "\ebb0";
$icon-caret-right: "\ebb1";
$icon-caret-up: "\ebb2";
$icon-chart-bar: "\ebb3";
$icon-chart-line: "\ebb4";
$icon-chart-pie: "\ebb5";
$icon-check: "\ebb6";
$icon-check-circle: "\ebb7";
$icon-check-square: "\ebb8";
$icon-chevron-circle-down: "\ebb9";
$icon-chevron-circle-left: "\ebba";
$icon-chevron-circle-right: "\ebbb";
$icon-chevron-circle-up: "\ebbc";
$icon-chevron-down: "\ebbd";
$icon-chevron-left: "\ebbe";
$icon-chevron-right: "\ebbf";
$icon-chevron-up: "\ebc0";
$icon-circle: "\ebc1";
$icon-circle-fill: "\ebc2";
$icon-circle-off: "\ebc3";
$icon-circle-on: "\ebc4";
$icon-clock: "\ebc5";
$icon-clone: "\ebc6";
$icon-cloud: "\ebc7";
$icon-cloud-download: "\ebc8";
$icon-cloud-upload: "\ebc9";
$icon-code: "\ebca";
$icon-cog: "\ebcb";
$icon-comment: "\ebcc";
$icon-comments: "\ebcd";
$icon-compass: "\ebce";
$icon-copy: "\ebcf";
$icon-credit-card: "\ebd0";
$icon-database: "\ebd1";
$icon-desktop: "\ebd2";
$icon-directions: "\ebd3";
$icon-directions-alt: "\ebd4";
$icon-discord: "\ebd5";
$icon-dollar: "\ebd6";
$icon-download: "\ebd7";
$icon-eject: "\ebd8";
$icon-ellipsis-h: "\ebd9";
$icon-ellipsis-v: "\ebda";
$icon-envelope: "\ebdb";
$icon-euro: "\ebdc";
$icon-exclamation-circle: "\ebdd";
$icon-exclamation-triangle: "\ebde";
$icon-external-link: "\ebdf";
$icon-eye: "\ebe0";
$icon-eye-slash: "\ebe1";
$icon-facebook: "\ebe2";
$icon-fast-backward: "\ebe3";
$icon-fast-forward: "\ebe4";
$icon-file: "\ebe5";
$icon-file-excel: "\ebe6";
$icon-file-o: "\ebe7";
$icon-file-pdf: "\ebe8";
$icon-filter: "\ebe9";
$icon-filter-fill: "\ebea";
$icon-filter-slash: "\ebeb";
$icon-flag: "\ebec";
$icon-flag-fill: "\ebed";
$icon-folder: "\ebee";
$icon-folder-open: "\ebef";
$icon-forward: "\ebf0";
$icon-github: "\ebf1";
$icon-globe: "\ebf2";
$icon-google: "\ebf3";
$icon-hashtag: "\ebf4";
$icon-heart: "\ebf5";
$icon-heart-fill: "\ebf6";
$icon-history: "\ebf7";
$icon-home: "\ebf8";
$icon-id-card: "\ebf9";
$icon-image: "\ebfa";
$icon-images: "\ebfb";
$icon-inbox: "\ebfc";
$icon-info: "\ebfd";
$icon-info-circle: "\ebfe";
$icon-instagram: "\ebff";
$icon-key: "\ec00";
$icon-link: "\ec01";
$icon-linkedin: "\ec02";
$icon-list: "\ec03";
$icon-lock: "\ec04";
$icon-lock-open: "\ec05";
$icon-map: "\ec06";
$icon-map-marker: "\ec07";
$icon-microsoft: "\ec08";
$icon-minus: "\ec09";
$icon-minus-circle: "\ec0a";
$icon-mobile: "\ec0b";
$icon-money-bill: "\ec0c";
$icon-moon: "\ec0d";
$icon-palette: "\ec0e";
$icon-paperclip: "\ec0f";
$icon-pause: "\ec10";
$icon-paypal: "\ec11";
$icon-pencil: "\ec12";
$icon-percentage: "\ec13";
$icon-phone: "\ec14";
$icon-play: "\ec15";
$icon-plus: "\ec16";
$icon-plus-circle: "\ec17";
$icon-pound: "\ec18";
$icon-power-off: "\ec19";
$icon-print: "\ec1a";
$icon-qrcode: "\ec1b";
$icon-question: "\ec1c";
$icon-question-circle: "\ec1d";
$icon-refresh: "\ec1e";
$icon-replay: "\ec1f";
$icon-reply: "\ec20";
$icon-save: "\ec21";
$icon-search: "\ec22";
$icon-search-minus: "\ec23";
$icon-search-plus: "\ec24";
$icon-send: "\ec25";
$icon-server: "\ec26";
$icon-share-alt: "\ec27";
$icon-shield: "\ec28";
$icon-shopping-bag: "\ec29";
$icon-shopping-cart: "\ec2a";
$icon-sign-in: "\ec2b";
$icon-sign-out: "\ec2c";
$icon-sitemap: "\ec2d";
$icon-slack: "\ec2e";
$icon-sliders-h: "\ec2f";
$icon-sliders-v: "\ec30";
$icon-sort: "\ec31";
$icon-sort-alpha-alt-down: "\ec32";
$icon-sort-alpha-alt-up: "\ec33";
$icon-sort-alpha-down: "\ec34";
$icon-sort-alpha-up: "\ec35";
$icon-sort-alt: "\ec36";
$icon-sort-alt-slash: "\ec37";
$icon-sort-amount-down: "\ec38";
$icon-sort-amount-down-alt: "\ec39";
$icon-sort-amount-up: "\ec3a";
$icon-sort-amount-up-alt: "\ec3b";
$icon-sort-down: "\ec3c";
$icon-sort-numeric-alt-down: "\ec3d";
$icon-sort-numeric-alt-up: "\ec3e";
$icon-sort-numeric-down: "\ec3f";
$icon-sort-numeric-up: "\ec40";
$icon-sort-up: "\ec41";
$icon-spinner: "\ec42";
$icon-star: "\ec43";
$icon-star-fill: "\ec44";
$icon-step-backward: "\ec45";
$icon-step-backward-alt: "\ec46";
$icon-step-forward: "\ec47";
$icon-step-forward-alt: "\ec48";
$icon-stop: "\ec49";
$icon-stop-circle: "\ec4a";
$icon-sun: "\ec4b";
$icon-sync: "\ec4c";
$icon-table: "\ec4d";
$icon-tablet: "\ec4e";
$icon-tag: "\ec4f";
$icon-tags: "\ec50";
$icon-telegram: "\ec51";
$icon-th-large: "\ec52";
$icon-thumbs-down: "\ec53";
$icon-thumbs-up: "\ec54";
$icon-ticket: "\ec55";
$icon-times: "\ec56";
$icon-times-circle: "\ec57";
$icon-trash: "\ec58";
$icon-twitter: "\ec59";
$icon-undo: "\ec5a";
$icon-unlock: "\ec5b";
$icon-upload: "\ec5c";
$icon-user: "\ec5d";
$icon-user-edit: "\ec5e";
$icon-user-minus: "\ec5f";
$icon-user-plus: "\ec60";
$icon-users: "\ec61";
$icon-video: "\ec62";
$icon-vimeo: "\ec63";
$icon-volume-down: "\ec64";
$icon-volume-off: "\ec65";
$icon-volume-up: "\ec66";
$icon-wallet: "\ec67";
$icon-whatsapp: "\ec68";
$icon-wifi: "\ec69";
$icon-window-maximize: "\ec6a";
$icon-window-minimize: "\ec6b";
$icon-youtube: "\ec6c";
$icon-leave_group: "\eb02";
$icon-log_event: "\eb03";
$icon-new_custom73: "\eb54";
$icon-desktop_console: "\e96e";

